<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.timad.poznavacka">

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@drawable/brinkos_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/brinkos_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SwitchActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".ListsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PracticeActivity" />
        <activity android:name=".TestActivity" />
    </application>

</manifest>