<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timad.poznavacka">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/poznavacka_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/poznavacka_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.lists.createList.PopActivity"
            android:theme="@style/AppTheme.Pop" />
        <activity android:name=".activities.SwitchActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.lists.ListsActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".activities.PracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PracticeActivity2"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.test.TestActivity" />
        <activity android:name=".FirestoreImpl" />
        <activity android:name=".activities.AccountActivity" />
        <activity android:name=".activities.lists.MyListsFragment" />
        <activity
            android:name=".activities.lists.createList.CreateListFragment"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.lists.createList.GeneratedListFragment"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".activities.AuthenticationActivity" />
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.lists.createList.CreateListActivity" />

    </application>

</manifest>